.header{
    text-align: center;
}
.header img{
    height: 80px;
}

nav{
    background-color: #000;
    padding: 10px;
}
nav a{
    margin-right: 20px;
    padding: 10px;
    color: lightgrey;
    text-decoration: none;
}

nav a:hover{
    background-color: gray;
}